.tags-view-wrapper {
  white-space: nowrap;
  position: relative;

  .el-scrollbar__bar {
    bottom: 0;
  }

  .el-scrollbar__wrap {
    height: 49px;
  }

  .tags-view-item {
    .el-icon-close {
      width: 16px;
      height: 16px;
      line-height: 18px;
      display: inline-block;
      font-size: 12px;
      border-radius: 50%;
      text-align: center;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform-origin: 100% 50%;

      &:hover {
        background-color: #b4bccc;
        color: #fff;
      }
    }
  }
}