/* stylelint-disable */
// theme

/* theme color */
$--color-primary: #1890ff;

/* icon font path, required */
$--font-path: 'element-plus/lib/theme-chalk/fonts';

// @import "element-plus/packages/theme-chalk/src/common/var.scss";

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #001529;
$menuHover: #263445;

$subMenuBg: #000c17;
$subMenuHover: #001528;

$sideBarWidth: 210px;